{% macro var(name) -%}
  {% if name.startswith("$") -%}
    {{ variables[name[1:]] }}
  {%- else -%}
    {{ name }}
  {%- endif %}
{%- endmacro -%}

{% set colors = variants[variant] -%}

{% macro accent(name, index) -%}
  {{ variables[name][colors.color_variants[index]] }}
{%- endmacro -%}

{% macro list_row(selector, bg, fg, include_special = false) -%}
set {{ selector }} bg: %{{ bg }} fg:%{{ color_mix(fg, bg, 0.4) }} bg:%{{ bg }}
set {{ selector }}.title fg:%{{ fg }}
{%- if include_special %}
set {{ selector }}:feed-special fg:%{{ fg }}
{%- endif %}
{%- endmacro -%}

{%- macro highlight_column(selector, column, color) -%}
set {{ selector }}.{{ column }} fg:%{{ accent(color, 0) }}
set {{ selector }}:selected.{{ column }} fg:%{{ accent(color, 0) }}
{%- endmacro -%}

{% include "header.jinja2" %}

# This theme is based on the "Gruvbox" VIM theme developed by Pavel Pertsev (@morhetz)
# See the original theme: https://github.com/morhetz/gruvbox

set list.divider bg:%{{ var(colors.divider) }} fg:%{{ var(colors.divider) }}
{%- for index, selector in [(0, ""), (1, ":focused")] %}
{{ list_row("list.item" + selector, var(colors.background[index]), var(colors.text[index]), true) }}
set list.item:feed-special{{ selector }} bg:%{{ var(colors.highlight[index]) }}{% if index == 0 %} +bold{% endif %}
set list.item:episode-finished.title fg:%{{ color_mix(var(colors.text[index]), var(colors.background[index]), 0.4) }}
set list.item:hidden.title fg:%{{ color_mix(var(colors.text[index]), var(colors.background[index]), 0.6) }}
{{ list_row("list.item:selected" + selector, var(colors.active[index]), var(colors.text[index]), true) }}
{{ list_row("list.item:playing" + selector, var(colors.background[index]), accent("blue", 0)) }}
{{ list_row("list.item:playing:selected" + selector, var(colors.active[index]), accent("blue", 1)) }}
set empty{{ selector }} bg:%{{ var(colors.background[index]) }} fg:%{{ var(colors.text[index]) }}
{%- endfor %}
set empty.title +bold

set list.item:missing-title.title +italic
{{ highlight_column("list.item", "new-count", "orange") }}
{{ highlight_column("list.item:episode-new", "state", "orange") }}
{{ highlight_column("list.item:episode-started", "state", "yellow") }}
{{ highlight_column("list.item:episode-finished", "state", "aqua") }}
{{ highlight_column("list.item:episode-error", "state", "red") }}
{{ highlight_column("list.item:feed-error", "state", "red") }}

{% macro player_state(state, color) -%}
set player:{{ state }} bg:%{{ color_mix(var(colors.player), color, 0.2) }}
set player:{{ state }}.status bg:%{{ color }}
{%- endmacro -%}

set player bg:%{{ var(colors.player) }} fg:%{{ var(colors.text[1]) }}
{{ player_state("playing", accent("green", 0)) }}
{{ player_state("paused", accent("blue", 0)) }}
{{ player_state("buffering", accent("purple", 0)) }}
set player.episode +bold
set player.feed fg:%{{ var(colors.text[0]) }} -bold
set player.status fg:%{{ var(colors.background[0]) }} +bold
set player:stopped.status bg:%{{ var(colors.player_active) }} fg:%{{ var(colors.player_active) }}
set player.timing bg:%{{ var(colors.player) }}

set statusbar.empty bg:%{{ var(colors.background[0]) }}
set statusbar.command bg:%{{ var(colors.background[0]) }} fg:%{{ var(colors.text[1]) }}
set statusbar.command.prompt fg:%{{ accent("yellow", 1) }}
set statusbar.status bg:%{{ var(colors.background[0]) }}
set statusbar.status:error fg:%{{ accent("red", 1) }}
set statusbar.status:warning fg:%{{ accent("yellow", 1) }}
set statusbar.status:information fg:%{{ accent("blue", 1) }}
set statusbar.status:error.label fg:%{{ accent("orange", 1) }}
set statusbar.confirmation bg:%{{ var(colors.background[0]) }} fg:%{{ accent("orange", 0) }}
