{% macro list_row(selector, bg, fg, include_special = false) -%}
set {{ selector }} bg: %{{ bg }} fg:%{{ color_mix(fg, bg, 0.3) }} bg:%{{ bg }}
set {{ selector }}.title fg:%{{ fg }}
{%- if include_special %}
set {{ selector }}:feed-special fg:%{{ fg }}
{%- endif %}
{%- endmacro -%}

{%- macro highlight_column(selector, column, color) -%}
set {{ selector }}.{{ column }} fg:%{{ color[0] }}
set {{ selector }}:selected.{{ column }} fg:%{{ color[0] }}
{%- endmacro -%}

set list.divider bg:%{{ dark.divider }} fg:%{{ dark.divider }}
{% for index, selector in [(0, ""), (1, ":focused")] %}
{{ list_row("list.item" + selector, dark.background[index], dark.text[index], true) }}
set list.item:feed-special{{ selector }} bg:%{{ dark.highlight[index] }}{% if index == 0 %} +bold{% endif %}
{{ list_row("list.item:selected" + selector, dark.active[index], dark.text_active[index], true) }}
{{ list_row("list.item:playing" + selector, dark.background[index], dark.blue[0]) }}
{{ list_row("list.item:playing:selected" + selector, dark.active[index], dark.blue[1]) }}
{%- endfor %}

{{ highlight_column("list.item", "new-count", dark.orange) }}
{{ highlight_column("list.item:episode-new", "state", dark.orange) }}
{{ highlight_column("list.item:episode-started", "state", dark.yellow) }}
{{ highlight_column("list.item:episode-error", "state", dark.red) }}
{{ highlight_column("list.item:feed-error", "state", dark.red) }}

{% macro player_state(state, color) %}
set player:{{ state }} bg:%{{ color_mix(dark.player, color, 0.2) }}
set player:{{ state }}.status bg:%{{ color }}
{% endmacro %}

set player bg:%{{ dark.player }} fg:%{{ dark.text_active[1] }}
{{ player_state("playing", dark.green[0]) }}
{{ player_state("paused", dark.blue[0]) }}
{{ player_state("buffering", dark.purple[0]) }}
set player.episode +bold
set player.feed fg:%{{ dark.text_active[0] }} -bold
set player.status fg:%{{ dark.background[0] }} +bold
set player:stopped.status bg:%{{ dark.player_active }} fg:%{{ dark.player_active }}
set player.timing bg:%{{ dark.player }}
