{% macro var(name) -%}
  {% if name.startswith("$") -%}
    {{ variables[name[1:]] }}
  {%- else -%}
    {{ name }}
  {%- endif %}
{%- endmacro -%}

{% set colors = variants[variant] -%}

{% include "header.jinja2" %}

# This theme is based on the Nord color scheme developed by Arctic Ice Studio
# Details: https://www.nordtheme.com/

set list.divider bg:%{{ var(colors.divider) }} fg:%{{ var(colors.divider) }}
{% for index, selector in [(0, ""), (1, ":focused")] %}
set list.item{{selector}} bg:%{{ var(colors.background[index]) }} fg:%{{ color_mix(var(colors.background[index]), var(colors.text[index]), 0.7) }}
set list.item{{selector}}:selected bg:%{{ var(colors.highlight[index]) }}
set list.item{{selector}}.title fg:%{{ var(colors.text[index]) }}
set list.item{{selector}}:feed-special fg:%{{ var(colors.text[index]) }}
set list.item{{selector}}:episode-finished.title fg:%{{ color_mix(var(colors.text[index]), var(colors.background[index]), 0.4) }}
set list.item{{selector}}:hidden.title fg:%{{ color_mix(var(colors.text[index]), var(colors.background[index]), 0.6) }}
set empty{{selector}} bg:%{{ var(colors.background[index]) }} fg:%{{ var(colors.text[index]) }}
{%- endfor %}

set empty.title +bold
set list.item:feed-special +bold
set list.item:missing-title.title +italic
set list.item.new-count fg:%{{ variables.green }} +bold
set list.item:episode-new.state fg:%{{ variables.green }} +bold
set list.item:episode-error.state fg:%{{ variables.red }} +bold
set list.item:episode:playing.state fg:%{{ variables.frost2 }} +bold
set list.item:feed-error.state fg:%{{ variables.red }} +bold
set list.item:episode-finished.state fg:%{{ variables.frost4 }} +bold
set list.item:episode-started.state fg:%{{ variables.yellow }} +bold
set list.item:playing.title fg:%{{ variables.frost2 }}

set player bg:%{{ var(colors.player[1]) }} fg:%{{ var(colors.text[0]) }}
set player.episode fg:%{{ var(colors.text[1]) }}
set player.progress bg:%{{ var(colors.player[0]) }}
set player.timing bg:%{{ var(colors.player[0]) }}
set player.status +bold
set player:playing.status bg:%{{ variables.green }} fg:%{{ var(colors.background[0]) }}
set player:paused.status bg:%{{ variables.frost2 }} fg:%{{ var(colors.background[0]) }}
set player:buffering.status bg:%{{ variables.purple }} fg:%{{ var(colors.background[0]) }}

set statusbar.empty bg:%{{ var(colors.background[1]) }}
set statusbar.command bg:%{{ var(colors.background[1]) }} fg:%{{ var(colors.text[1] )}}
set statusbar.command.prompt fg:%{{ var(colors.text[0] )}}
set statusbar.status bg:%{{ var(colors.background[1]) }}
set statusbar.status.label +bold
set statusbar.status:error fg:%{{ variables.red }}
set statusbar.status:warning fg:%{{ variables.yellow }}
set statusbar.status:information fg:%{{ variables.frost3 }}
set statusbar.confirmation bg:%{{ var(colors.background[1]) }} fg:%{{ var(colors.text[1]) }}
